section.applying
	.container.applying__container
		+title('Платформа уже активно применяется специалистами: <br> маркетинга, менеджента, продаж и HR', '', 'applying__title')
		.applying__pagination.swiper-container.__js_applying-pagi-carousel
			.swiper-wrapper
		.applying__carousel.swiper-container.__js_applying-carousel
			.swiper-wrapper
				.applying__slide.swiper-slide
					.applying__image
						img(src='images/applying.jpg', srcset='images/applying@2x.jpg 2x', alt='')
						span Staff
					.applying__content
						.applying__content-wrapper
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-1')(width='88', height='75')
								span Get more leads. Advanced Targeting and Segmentation
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-2')(width='80', height='86')
								span Build a Robust Contact Database. Automates collection of information for analysis of marketing campaign success
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-3')(width='81', height='74')
								span Automates collection of information for marketing campaigns planning
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-4')(width='81', height='75')
								span Know Who Visits Your Website. Keeps the customer profile information up to date
						+button('Accelerate Marketing Funnel', 'button--dark-green button--big applying__content-btn')
				.applying__slide.swiper-slide
					.applying__image
						img(src='images/applying.jpg', srcset='images/applying@2x.jpg 2x', alt='')
						span Staff
					.applying__content
						.applying__content-wrapper
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-1')(width='88', height='75')
								span Get more leads. Advanced Targeting and Segmentation
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-2')(width='80', height='86')
								span Build a Robust Contact Database. Automates collection of information for analysis of marketing campaign success
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-3')(width='81', height='74')
								span Automates collection of information for marketing campaigns planning
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-4')(width='81', height='75')
								span Know Who Visits Your Website. Keeps the customer profile information up to date
						+button('Accelerate Marketing Funnel', 'button--dark-green button--big applying__content-btn')
				.applying__slide.swiper-slide
					.applying__image
						img(src='images/applying.jpg', srcset='images/applying@2x.jpg 2x', alt='')
						span Staff
					.applying__content
						.applying__content-wrapper
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-1')(width='88', height='75')
								span Get more leads. Advanced Targeting and Segmentation
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-2')(width='80', height='86')
								span Build a Robust Contact Database. Automates collection of information for analysis of marketing campaign success
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-3')(width='81', height='74')
								span Automates collection of information for marketing campaigns planning
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-4')(width='81', height='75')
								span Know Who Visits Your Website. Keeps the customer profile information up to date
						+button('Accelerate Marketing Funnel', 'button--dark-green button--big applying__content-btn')
				.applying__slide.swiper-slide
					.applying__image
						img(src='images/applying.jpg', srcset='images/applying@2x.jpg 2x', alt='')
						span Staff
					.applying__content
						.applying__content-wrapper
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-1')(width='88', height='75')
								span Get more leads. Advanced Targeting and Segmentation
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-2')(width='80', height='86')
								span Build a Robust Contact Database. Automates collection of information for analysis of marketing campaign success
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-3')(width='81', height='74')
								span Automates collection of information for marketing campaigns planning
							.applying__content-item
								.applying__content-item-icon
									+icon('applying-4')(width='81', height='75')
								span Know Who Visits Your Website. Keeps the customer profile information up to date
						+button('Accelerate Marketing Funnel', 'button--dark-green button--big applying__content-btn')
			.applying__prev.slider-prev
				+icon('chevron-down')
			.applying__next.slider-next
				+icon('chevron-down')