section.blog
	.blog__pattern
		+icon('pattern')(width='2200', height='1620')
	.blog__pattern.blog__pattern--mobile
		+icon('pattern-small')(width='375', height='586')
	.container.blog__container
		+title('Блоги', '', 'blog__title')
		.blog__wrapper.swiper-container.__js_blog-carousel
			.swiper-wrapper
				.blog-card.blog__item.swiper-slide
					.blog-card__image
						img(src='images/blog/1.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> мин.
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') What Can You Find with a Reverse Phone Lookup?
				.blog-card.blog__item.blog__item--big.swiper-slide
					.blog-card__image
						img(src='images/blog/2.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> m
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') How to Find Someone's Cell Phone Number by Name
				.blog-card.blog__item.blog__item--big.swiper-slide
					.blog-card__image
						img(src='images/blog/3.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> m
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') How to Track a Phone Number
				.blog-card.blog__item.swiper-slide
					.blog-card__image
						img(src='images/blog/4.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> мин.
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') Online Safety 101: Finding What Accounts use Your Email Address
				.blog-card.blog__item.swiper-slide
					.blog-card__image
						img(src='images/blog/5.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> мин.
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') There’s a Better Way: Why You Should Stop Googling People
				.blog-card.blog__item.swiper-slide
					.blog-card__image
						img(src='images/blog/6.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> мин.
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') Are There Sex Offenders in Your Area?  How to Get The Information You Need
				.blog-card.blog__item.swiper-slide
					.blog-card__image
						img(src='images/blog/7.jpg', alt='')
					.blog-card__content
						.blog-card__top
							.blog-card__date 15 апреля 2021
							.blog-card__info
								.blog-card__info-item
									+icon('pie-chart')
									span 10 <br> мин.
								.blog-card__info-item
									+icon('message')
									span 0
						a.blog-card__title(href='#', target='_blank') Are There Sex Offenders in Your Area?  How to Get The Information You Need
		.blog__next.slider-next-long
			+icon('arrow-link-long')(width='142', height='8')
		+button('Показать еще', 'button--dark-green button--flat button--big blog__more', '', '#')
