section.records
	.container.records__container
		+title('SEARCH INSTANTLY - Billions of Records', '', 'records__title')
		.records__wrapper.swiper-container.__js_records-carousel
			.swiper-wrapper
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/1.jpg', srcset='images/records/1@2x.jpg 2x', alt='')
						span.one Company
					.records-card__description
						.records-card__title
							+icon('company')(width='24', height='24')
							span Компании
						.records-card__links
							.records-card__links-item
								p Contact Information
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Location History
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Social Media Accounts
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Reviews
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти компанию', 'button--dark-green button--big records-card__trial', '', '#')
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/2.jpg', srcset='images/records/2@2x.jpg 2x', alt='')
						span.two People
					.records-card__description
						.records-card__title
							+icon('person')(width='24', height='24')
							span Люди
						.records-card__links
							.records-card__links-item
								p Контакты
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Должность
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Интересы
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Connections
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти человека', 'button--dark-green button--big records-card__trial', '', '#')
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/3.jpg', srcset='images/records/3@2x.jpg 2x', alt='')
						span.three Website
					.records-card__description
						.records-card__title
							+icon('globe')(width='24', height='24')
							span Вебсайты
						.records-card__links
							.records-card__links-item
								p Владелец
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Категория
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Технологии
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p История
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти вебсайт', 'button--dark-green button--big records-card__trial', '', '#')
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/4.jpg', srcset='images/records/4@2x.jpg 2x', alt='')
						span.four Object
					.records-card__description
						.records-card__title.records-card__title--fill
							+icon('marker')(width='19', height='25')
							span Объекты
						.records-card__links
							.records-card__links-item
								p Недвижимость
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Авто
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Отели
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Места
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти объект', 'button--dark-green button--big records-card__trial', '', '#')
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/5.jpg', srcset='images/records/5@2x.jpg 2x', alt='')
						span.five Products
					.records-card__description
						.records-card__title
							+icon('product')(width='24', height='24')
							span Товары
						.records-card__links
							.records-card__links-item
								p Электроника
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Продовольствие
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Медицина
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Промышленность
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти товар', 'button--dark-green button--big records-card__trial', '', '#')
				.records-card.records__item.swiper-slide
					.records-card__image
						img(src='images/records/6.jpg', srcset='images/records/6@2x.jpg 2x', alt='')
						span.six Services
					.records-card__description
						.records-card__title
							+icon('service')(width='24', height='24')
							span Услуги
						.records-card__links
							.records-card__links-item
								p IT
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Hospitality
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Travel
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
							.records-card__links-item
								p Transportation
								.records-card__links-item-more
									span show more
									div
										+icon('chevron-down')
						+button('Найти услугу', 'button--dark-green button--big records-card__trial', '', '#')
		.records__next.slider-next-long
			+icon('arrow-link-long')(width='142', height='8')