.search-dictionary
	.search-dictionary__left
		.search-dictionary__image
			+icon('person')(width='53', height='54')
		.search-dictionary__group.search-dictionary__group--mobile
			.search-dictionary__title people sesrch
			.search-dictionary__cities
				a(href='#', target='_blank') Boston
				a(href='#', target='_blank') New York City
				a(href='#', target='_blank') Houston
				a(href='#', target='_blank') Chocago
				a(href='#', target='_blank') Los Angeles
				a(href='#', target='_blank') Atlanta
	.search-dictionary__right
		.search-dictionary__group
			.search-dictionary__title people sesrch
			.search-dictionary__cities
				a(href='#', target='_blank') Boston
				a(href='#', target='_blank') New York City
				a(href='#', target='_blank') Houston
				a(href='#', target='_blank') Chocago
				a(href='#', target='_blank') Los Angeles
				a(href='#', target='_blank') Atlanta
		.search-dictionary__filter
			a(href='#', target='_blank') A
			a(href='#', target='_blank') B
			a(href='#', target='_blank') C
			a(href='#', target='_blank') D
			a(href='#', target='_blank') E
			a(href='#', target='_blank') F
			a(href='#', target='_blank') G
			a(href='#', target='_blank') H
			a(href='#', target='_blank') I
			a(href='#', target='_blank') J
			a(href='#', target='_blank') K
			a(href='#', target='_blank') L
			a(href='#', target='_blank') M
			a(href='#', target='_blank') N
			a(href='#', target='_blank') O
			a(href='#', target='_blank') P
			a(href='#', target='_blank') Q
			a(href='#', target='_blank') R
			a(href='#', target='_blank') S
			a(href='#', target='_blank') T
			a(href='#', target='_blank') U
			a(href='#', target='_blank') V
			a(href='#', target='_blank') W
			a(href='#', target='_blank') X
			a(href='#', target='_blank') Y
			a(href='#', target='_blank') Z