section.slider-anim
	.container
		.custom-title.slider-anim__custom-title
			span.custom-title__meet Meet
			span.custom-title__bee the
			span.custom-title__characters characters
			span.custom-title__from from
			span the
			span.custom-title__hivens Hivens
			span.custom-title__glossary glossary
		.slider-anim__scroll scroll
			+icon('anchor')(width='42', height='55')
		.slider-anim__wrapper
			.slider-anim__slider.swiper-container.__js_slider-anim
				.swiper-wrapper
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title Пасечник
							.slider-anim__text Это пасечник, он является поставщиком мёда из данных. <br> У него есть пасека из серверов.

					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Цветы”- информация
							.slider-anim__text Это поля цветков, букеты публичной, аналитической и сервисной информации. Они в ожидании сборщиков-пчёл
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Пчелы” - скрипты
							.slider-anim__text Пчелы- главные работяги экосистемы Hivens. Пчелы делятся на виды, каждый из которых занят своими задачами.
								|  Например, один вид делает мед данных, другой собирает пыльцу с букетов информации и т.д.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Цветы”- источники данных
							.slider-anim__text Пчелы, собирают к себе в улий пыльцу с букетов данных и других ульев. Количество источников пыльцы неограничено.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Нода/Улей”- сервер
							.slider-anim__text Нода/Улей - это центр сбора и обработки пыльцы данных любого пасечника. Здесь происходит создание меда из данных.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Улье внутри”- нода в разрезе
							.slider-anim__text Улье представляет собой механизм получения меда данных из сырья данных (пыльцы).
								|  Также здесь пчелки подготавливают мед к продаже.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Типы ульев”- виды серверов
							.slider-anim__text Улья делятся на три типа, отличающиеся уровнями и стоймостью. Чем больше уровней, тем больше функционал
								|  и возможности улья. А чем лучше улье, тем вкуснее мед
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Бочки с медом”- данные для продажи
							.slider-anim__text После обработки пыльца данных преваращется во вкусный мед и разливается по бочкам
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Сорта меда”- 6 типов данных
							.slider-anim__text На пасеках нашей экосистемы готовитятся 6 сортов меда данных,
								|  которые поступают в продажу в соответствии с их сегментацией.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Рынок”- маркетплейс
							.slider-anim__text Все бочки меда поступают в маркетплейс,  где происходят сделки по покупке и продаже меда данных.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title Возможности маркетплейса
							.slider-anim__text Маркетплейс отвечает не только за продажу меда данных, но и за разработку новых пчел, ульев,
								|  платежных сервисов и других элементов экосистемы.
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title Участники экосистемы
							.slider-anim__text Все идут за медом! Экосистема объединяет поставщиков данных и покупателей этих данных.
								|  Покупатели разообразны, ими могут оказаться даже сами пасечники
					.slider-anim__slide.swiper-slide
						.slider-anim__left
							.slider-anim__title “Дублон”- Tokken Hiv
							.slider-anim__text Золотая монетка Токен HIV является платежным средством экосистемы.
								|  Чтобы использовать сервисы экосистемы обзаведитесь чеканной монетой!

			.slider-anim__animation
				img.slider-anim__image.slider-anim__image--1(src='images/slider/beekeeper.png', alt='')
				img.slider-anim__image.slider-anim__image--2(src='images/slider/db.png', width='292', height='414', alt='')
				img.anim-pic.anim-pic--1(src='images/slider/mountains.svg', alt='')
				img.anim-pic.anim-pic--2(src='images/slider/pattern.svg', alt='')
				img.anim-pic.anim-pic--3(src='images/slider/planet.svg', alt='')
				img.anim-pic.anim-pic--4(src='images/slider/stem.svg', alt='')
				img.anim-pic.anim-pic--5(src='images/slider/bee.svg', alt='')
				img.anim-pic.anim-pic--6(src='images/slider/flower.svg', alt='')
				img.anim-pic.anim-pic--7(src='images/slider/bee-2.png', alt='')
				img.anim-pic.anim-pic--8(src='images/slider/uley.png', alt='')
				img.anim-pic.anim-pic--9(src='images/slider/cloud.svg', alt='')
				img.anim-pic.anim-pic--10(src='images/slider/uley-2.png', alt='')
				img.anim-pic.anim-pic--11(src='images/slider/face.svg', alt='')
				img.anim-pic.anim-pic--12(src='images/slider/face-ul-1.svg', alt='')
				img.anim-pic.anim-pic--13(src='images/slider/face-ul-2.svg', alt='')
				img.anim-pic.anim-pic--14(src='images/slider/stem-2.svg', alt='')
				img.anim-pic.anim-pic--15(src='images/slider/barrel.png', alt='')
				img.anim-pic.anim-pic--16(src='images/slider/barrels.png', alt='')
				img.anim-pic.anim-pic--17(src='images/slider/marketplace.jpg', alt='')
				img.anim-pic.anim-pic--18(src='images/slider/stem-3.svg', alt='')
				img.anim-pic.anim-pic--19(src='images/slider/marketplace-2.png', alt='')
				img.anim-pic.anim-pic--20(src='images/slider/person-1.svg', alt='')
				img.anim-pic.anim-pic--21(src='images/slider/person-2.svg', alt='')
				img.anim-pic.anim-pic--22(src='images/slider/person-3.svg', alt='')
				img.anim-pic.anim-pic--23(src='images/slider/person-4.svg', alt='')
				img.anim-pic.anim-pic--24(src='images/slider/last.svg', alt='')

			.slider-anim__pagination
			.slider-prev
				+icon('chevron-down')
			.slider-next
				+icon('chevron-down')
