section.what-is
	.container.what-is__container
		.what-is__wrapper
			.what-is__content
				+title('Что такое Hivens?', '', 'what-is__title')
				.what-is__image.what-is__image--mobile
					img(src='images/marketplace.jpg', srcset='images/marketplace@2x.jpg 2x', alt='')
					span Hivens <br> <b>Marketplace</b>
				.what-is__text Hivens - децентрализованная экосистема данных и маркетплейс платформа.
					ol
						li <b>Децентрализованная экосистема данных Hivens</b> представляет собой сеть поставщиков данных и пользователей сервисов,
							|  сайтов, которые объединяются в сообществе для хранения, обмена, увеличения ценности имеющиейся информации.
						li <b>Маркетплейс платформа Hivens</b> - это часть экосистемы и предназначена <br> для монетизации данных <br> поставщиков,
							|  и объядиняет поставщиков и покупателей данных, а также служит для продвижения компаний, поиска людей,
							|  услуг, товаров, объектов и др.
				+button('Подробнее', 'button--dark-green button--big what-is__more')
				.what-is__content-icon
					+icon('trees')(width='493', height='68')
			.what-is__image
				img(src='images/marketplace.jpg', alt='')
				span Hivens <br> <b>Marketplace</b>
