footer.footer
	.container.footer__container
		.footer__title Decentralization Data Ecosystem and Marketplace Platform Directories
		.footer__browse
			a(href='#', target='_blank') Browse directories
				+icon('arrow-link')

		include ../blocks/search-dictionary.pug

		.footer__search-dictionary.search-dictionary.search-dictionary--without-filter
			.search-dictionary__left
				.search-dictionary__image
					+icon('company')(width='54', height='54')
				.search-dictionary__group.search-dictionary__group--mobile
					.search-dictionary__title people sesrch
					.search-dictionary__cities
						a(href='#', target='_blank') Boston
						a(href='#', target='_blank') New York City
						a(href='#', target='_blank') Houston
						a(href='#', target='_blank') Chocago
						a(href='#', target='_blank') Los Angeles
						a(href='#', target='_blank') Atlanta
			.search-dictionary__right
				.search-dictionary__group
					.search-dictionary__title people sesrch
					.search-dictionary__cities
						a(href='#', target='_blank') Boston
						a(href='#', target='_blank') New York City
						a(href='#', target='_blank') Houston
						a(href='#', target='_blank') Chocago
						a(href='#', target='_blank') Los Angeles
						a(href='#', target='_blank') Atlanta

		.footer__line

		.footer__menu.__js_footer-carousel
			.swiper-wrapper
				.footer__menu-item.swiper-slide
					a.top-link(href='#', target='_blank') Popular features
					a(href='#', target='_blank') Sales Solutions
					a(href='#', target='_blank') Marketing Solutions
					a(href='#', target='_blank') Company Contact Search
					a(href='#', target='_blank') Beyer Intent Data
					a(href='#', target='_blank') CRM Lead Enrichment
				.footer__menu-item.swiper-slide
					a.top-link(href='#', target='_blank') company
					a(href='#', target='_blank') About us
					a(href='#', target='_blank') Our Leadership
					a(href='#', target='_blank') Investor Relations
					a(href='#', target='_blank') FAQs
					a(href='#', target='_blank') Careers
					a(href='#', target='_blank') Contact Us
				.footer__menu-item.swiper-slide
					a.top-link(href='#', target='_blank') b2b database
					a(href='#', target='_blank') Our Data
					a(href='#', target='_blank') Data Transparency
					a(href='#', target='_blank') Update Your Company
					a(href='#', target='_blank') Claim Profile
					a(href='#', target='_blank') Browse Directories
				.footer__menu-item.swiper-slide
					a.top-link(href='#', target='_blank') more resources
					a(href='#', target='_blank') Zoominfo Videos
					a(href='#', target='_blank') Newsroom
					a(href='#', target='_blank') Engineering Blog
					a(href='#', target='_blank') COVID-19 Newsfeed
					a(href='#', target='_blank') Recipes for Success
					a(href='#', target='_blank') Privacy Center
				.footer__col
					+button('Free trial', 'button--outline button--white button--big footer__trial', '', '#')
					a.footer__login(href='#') Login
					.footer__nickname 666.6666.6666.66
			.footer__pagination

		.footer__login-mobile
			+button('Free trial', 'button--outline button--white button--big footer__trial', '', '#')
			a.footer__login(href='#') Login
			.footer__nickname 666.6666.6666.66

		+social('footer__social', [
			{name: 'tw', class: 'tw'},
			{name: 'fb', class: 'fb'},
			{name: 'in', class: 'in'},
			{name: 'git', class: 'git'},
			{name: 'google', class: 'google'},
			{name: 'insta', class: 'insta'},
			{name: 'star', class: 'star'},
			{name: 'heart', class: 'heart'}
		])

		.footer__bottom-links
			span 2021 Decentralization Data Ecosystem <br> and Marketplace Platform
			a(href='#', target='_blank') Privacy Policy
			a(href='#', target='_blank') Term and Conditions
			a(href='#', target='_blank') Cookies
			a(href='#', target='_blank') Status
			a(href='#', target='_blank') Do Not Sell My Info

		.footer__copyrights Hivens is not a consumer reporting agency as defined by the Fair Credit Reporting Act (FCRA). <br>
			|  Do not use this site to make decisions about employment, tenant screening, or any purpose covered by the FCRA.

		include ../partials/cookies.pug
