header.header
	.container.header__container
		.header-top
			.header-top__col
				a(href="#").logo.header__logo
					+icon('logo')
				.header-top__links 
					a(href="#").header__link Экосистема
					a(href="#").header__link Платформа
						+icon('chevron-down')(width="20" height="14")
			.header-top__col
				.header-burger 
					span
				.header-top__buttons 
					a(href="#")
						+icon('message')
					a(href="#")
						+icon('cart')
					a(href="#")
						+icon('notification')
				a(href="#").header__avatar
					.header__avatar-img
						img(src="images/avatar.png", alt="")
					span.header__avatar-status.header__avatar-status--success
				a(href="#").button.button--dark-green.header__button В кабинет

		.header-bottom
			.nav.header__nav 
				ul.nav-list
					li.nav-list__item
						a(href="#") Главная 
					li.nav-list__item.nav-list__dropdown-item
						a(href="#") 
							| Продукты
							+icon('chevron-down')(width="16" height="16")
						.dropdown
							.dropdown__left
								.dropdown__link
									a(href="#") Решения отдела
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								.dropdown__link
									a(href="#") Отраслевые решения
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
					li.nav-list__item.nav-list__dropdown-item
						a(href="#") 
							| Решения
							+icon('chevron-down')(width="16" height="16")
						.dropdown
							.dropdown__left
								.dropdown__link
									a(href="#") Решения отдела
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								.dropdown__link
									a(href="#") Отраслевые решения
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
					li.nav-list__item.nav-list__dropdown-item
						a(href="#") 
							| Наши данные
							+icon('chevron-down')(width="16" height="16")
						.dropdown
							.dropdown__left
								.dropdown__link
									a(href="#") Решения отдела
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								.dropdown__link
									a(href="#") Отраслевые решения
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
					li.nav-list__item.nav-list__dropdown-item
						a(href="#") 
							| Децентрализация
							+icon('chevron-down')(width="16" height="16")
						.dropdown
							.dropdown__left
								.dropdown__link
									a(href="#") Решения отдела
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								.dropdown__link
									a(href="#") Отраслевые решения
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
					li.nav-list__item.nav-list__dropdown-item
						a(href="#") 
							| Ресурсы
							+icon('chevron-down')(width="16" height="16")
						.dropdown
							.dropdown__left
								.dropdown__link
									a(href="#") Решения отдела
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								.dropdown__link
									a(href="#") Отраслевые решения
										+icon('chevron-right')(width="16" height="16")
									.dropdown__submenu
										.dropdown__center
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
											a.dropdown__category-item(href='#', target='_blank')
												.dropdown__image
												.dropdown__category-content
													p Финансовые услуги
													p Персонализируйте клиентский опыт, повышайте эффективность и лучше снижайте риски
										.dropdown__right
											.dropdown__title Быстрые ссылки:
											.dropdown__text
												p Послушайте клиентов Snowflake из моей отрасли
												p Маленькая книга <br> большого успеха - Финансовые услуги
												p 5 способов, которыми данные меняют <br> розничную торговлю
												p Узнайте, как Snowflake поддерживает здравоохранение <br> на основе данных
												p Платформа облачных данных для демонстрации федерального правительства
											.dropdown__download
												p 612% ROI? Прочтите исследование Snowflake, проведенное Forrester Total Economic Impact ™
												a(href='#') Скачать сейчас
								img(src='images/bee-2.png', srcset='images/bee-2@2x.png 2x', alt='')
			.search.header__search
				a(href="#") Поиск
					+icon('search')(width="20" height="20")


