section.briefly-list
  .briefly-list__container.container 
    .briefly-list__item.briefly.briefly--reverse.briefly--custom-nodes
      +title('Коммуникация между нодами экосистемы', 'h2', 'briefly__title')

      .briefly__image
        picture
          source(media="(max-width: 767px)", srcset="images/briefly/communication-mobile.jpg 1x, images/briefly/communication-mobile@2x.jpg 2x")
          img(src="images/briefly/communication.jpg", srcset="images/briefly/communication@2x.jpg 2x", alt="Коммуникация между нодами")

      .briefly__content
        .briefly__text 
          p <strong>Ноды экосистемы</strong> связаны между собой по протоколам передачи данных. Экосистема может включать неограниченное количество нод, поставщиков данных и постоянно обновляется и расширяется. 
          
          p Владелец ноды решает самостоятельно, с кем коммуницировать, кому будет доступна информация.
