section.hero-section
  .hero-section__container.container
    +innerpage-title('Что такое Node, какие они бывают?', 'Присоединяйтесь к Hivens и получите доступ ко всем возможностям', 'hero-section__title')
    .hero-section__image.hero-section__image--nodes 
      picture 
        source(media="(max-width: 767px)", srcset="images/page-4/node-types-mobile.jpg 1x, images/page-4/node-types-mobile@2x.jpg 2x")
        img(src="images/page-4/node-types.jpg", srcset="images/page-4/node-types@2x.jpg 2x", alt="Nodes")
      
      .hero-section__image-text.hero-section__image-text--provider-1
        span 1
        | provider

      .hero-section__image-text.hero-section__image-text--provider-2
        span 2
        | provider