.header {
	position: relative;
	box-shadow: 0px -22px 15px 25px rgba(0, 0, 0, 0.07);
	border-radius: 9px;
	z-index: 20;
	background-color: $white;

	&::after {
		content: '';
		position: absolute;
		top: 71px;
		left: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: #E7E7E7;

		@include max(md) {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&-top {
		padding: 18px 0 14px;
		display: flex;
		justify-content: space-between;

		@include max(md) {
			flex-direction: column;
			padding: 0;
		}

		&__col {
			display: flex;
			align-items: center;

			@include max(md) {
				padding: 10px 0;
			}

			@include max(sm) {
				justify-content: space-between;
			}
		}


		&__links {
			display: flex;

			@include max(xs) {
				display: none;
			}
		}

		&__buttons {
			display: flex;
			align-items: center;
			margin-right: 16px;
			flex-shrink: 0;


			@include max(md) {
				margin-left: auto;
			}

			svg {
				width: 20px;
				height: 20px;

				@include max(sm) {
					width: 18px;
					height: 18px;
				}
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				
				svg {
					fill: #6E6B7B;
				}
				
				&:first-child {
					margin-right: 12px;
				}

				&:nth-child(2) {
					margin-right: 15px;
				}
			}
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		height: 40px;
		padding-bottom: 6px;
		margin-right: 64px;

		@include max(sm) {
			margin-right: 0;
		}

		@include max(xs) {
			padding-bottom: 3px;
		}

		svg {
			pointer-events: none;
			width: 320px;
			height: 40px;

			@include max(md) {
				width: 251px;
				height: 32px;
			}

			@include max(xs) {
				width: 200px;
				height: 25px;
			}
		}
	}


	&__link {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		color: #4B4B4B;
		display: flex;
		align-items: flex-start;

		&:not(:last-child) {
			margin-right: 24px;
		}

		svg {
			fill: #4b4b4b;
		}
	}

	&__button {
		min-height: 40px;

		@include max(sm) {
			display: none;
		}
	}

	&__avatar {
		position: relative;
		width: 38px;
		height: 38px;
		margin-right: 47px;

		@include max(sm) {
			margin-right: 0;
		}

		&-img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			cursor: pointer;
			background-color: rgba($purple, 0.5);
			padding-top: 2px;
			pointer-events: none;
		}

		&-status {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			
			&::after {
				content: '';
				width: 7px;
				height: 7px;
				border-radius: 50%;
				z-index: 2;
			}


			&--success {
				&::after {
					background-color: $green;
				}
			}
		}

	}

	&-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 13px 0 16px;

		@include max(md) {
			position: fixed;
			left: -100%;
			height: 100vh;
			top: 0;
			bottom: 0;
			flex-direction: column;
			background-color: #fff;
			z-index: 10;
		}
	}

	&__search {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #C4C4C4;
			font-weight: 500;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 0.366667px;

			svg {
				flex-shrink: 0;
				fill: #6E6B7B;
				margin-left: 21px;
			}
		}
	}

	&-burger {
		width: 25px;
		height: 25px;
		position: relative;
		display: flex;
		align-items: center;

		span {
			height: 2px;
			width: 20px;
			background-color: #b4b4b4;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: -5px;
				left: 50%;
				height: 2px;
				background-color: inherit;
				transform: translateX(-50%);
				width: 20px;

			}

			&::before {
				content: '';
				position: absolute;
				top: 5px;
				left: 50%;
				height: 2px;
				background-color: inherit;
				transform: translateX(-50%);
				width: 20px;

			}
		}

		@include min(md) {
			display: none;
		}
	}
}

.nav-list {
	display: flex;
	align-items: center;

	@include max(md) {
		flex-direction: column;
		align-items: flex-start;
	}

	&__dropdown-item {
		//position: relative;

		@include hover {
			.nav-list__sub-menu,
			.dropdown {
				transform: rotateX(0deg);
				transition-property: transform;
				transition-duration: 0.3s;
			}
		}

		a {
			font-weight: 500;

			svg {
				&:first-child {
					margin-right: 8px;
				}

				&:last-child {
					margin-left: 8px;
				}
			}
		}
	}

	&__item {

		&:first-child {
			a {
				font-weight: bold;
			}
		}

		&:not(:last-child) {
			margin-right: 15px;
		}

		&:not(.nav-list__dropdown-item) a {
			padding-bottom: 10px;
		}

		a {
			display: flex;
			justify-content: flex-start;
			padding: 9px 16px;
			letter-spacing: 0.345946px;
			font-size: 12.1081px;
			line-height: 15px;
			text-decoration: none;
			color: #4B4B4B;

			svg {
				fill: #4b4b4b;
			}
		}
	}

	&__sub-menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		list-style: none;
		width: auto;
		top: 100%;
		font-size: 15px;
		line-height: 180%;
		color: #1a1919;
		transform-origin: top;
		transform: rotateX(-90deg);
		border-radius: 6px;
		overflow: hidden;
		background-color: #fff;

		&>.nav-list__sub-menu-item--separated {
			border-top: 1px solid $white-eb;

		}
		&>.nav-list__sub-menu-item--separated ~ .nav-list__sub-menu-item--separated {
			border: none;

		}

		&-item {
			transition: 0.4s;
			color: #6E6B7B;

			a {
				display: flex;
				text-decoration: none;
				color: inherit;
				white-space: nowrap;
				transition: 0.4s;

				@include hover {
					background: rgba(115, 103, 240, 0.12);
					color: $purple;
				}
			}
		}
	}
}

.dropdown {
	position: absolute;
	display: flex;
	top: 86%;
	transform-origin: top;
	transform: rotateX(-90deg);
	border-radius: 6px;
	background-color: $white;

	&__submenu {
		width: 690px;
		position: absolute;
		left: 97%;
		top: 0;
		z-index: -1;
		display: flex;
		background-color: $white;
		opacity: 0;
		border-radius: 6px;
		box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
		pointer-events: none;
		transition: opacity 0.3s ease;
	}

	&__left {
		max-width: 226px;
		width: 100%;
		padding: 32px 0 350px;
		box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		background-color: $white;

		a {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			font-size: 14px;
			line-height: 17px;
			padding: 11px 0 11px 18px;
		}

		img {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	&__link {
		transition: background-color 0.3s ease;

		&.reverse {
			> a {
				padding: 11px 18px 11px 0;

				svg {
					order: -1;
					transform: rotate(180deg);
				}
			}

			.dropdown__submenu {
				left: unset;
				right: 97%;
			}

			.dropdown__right {
				order: -1;
				border-left: 0;
				border-right: 1px solid $gray-d8;
			}
		}

		&.column {
			.dropdown__submenu {
				flex-direction: column;
				border: 1px solid $gray-d8;
				border-radius: 6px;
			}

			.dropdown__right {
				max-width: 100%;
				border-left: 0;
				text-align: center;
			}

			.dropdown__download a {
				justify-content: center;
			}
		}

		@include hover {
			background-color: #f8f8f8;

			.dropdown__submenu {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__center {
		max-width: 456px;
		padding: 35px 35px 28px 41px;

		@include max(lg) {
			padding: 35px 15px;
		}
	}

	&__right {
		max-width: 234px;
		width: 100%;
		padding: 36px 25px 28px 34px;
		border-left: 1px solid $gray-d8;
	}

	&__category-item {
		display: flex;
		height: auto !important;
		padding: 0 !important;

		+ .dropdown__category-item {
			margin-top: 15px;
		}
	}

	&__image {
		max-width: 49px;
		width: 100%;
		height: 49px;
		background-color: $citrus;
		border-radius: 50%;
		margin-right: 20px;
	}

	&__category-content {
		p {
			&:first-child {
				font-size: 18px;
				line-height: 22px;
				font-weight: 500;
				color: $gray-5e;
			}

			&:last-child {
				font-size: 12px;
				line-height: 18px;
				color: $gray-6e;
			}
		}
	}

	&__title {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		color: $green-9e;
	}

	&__text {
		font-size: 12px;
		line-height: 18px;
		color: $gray-5e;
		margin-top: 31px;

		p + p {
			margin-top: 20px;
		}
	}

	&__download {
		padding: 10px 10px 22px;
		background-color: $green-9e;
		border-radius: 4px;
		margin-top: 37px;

		p {
			font-size: 15px;
			line-height: 24px;
			color: rgba($white, 0.7);
			margin-bottom: 18px;
		}

		a {
			font-size: 15px;
			line-height: 24px;
			font-weight: 500;
			color: $white;
			padding: 0;

			@include hover {
				text-decoration: underline;
			}
		}
	}
}
