.play {
	display: block;
	width: 157px;
	height: 157px;
	cursor: pointer;
	position: relative;
	transition: opacity 0.3s ease;

	@include hover {
		opacity: 0.9;
	}

	@include max(md) {
		width: 57px;
		height: 57px;
	}

	&__text {
		margin-top: 48px;
		font-size: 28px;
		line-height: 1.2;
		color: $dark-gray;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		opacity: 1 !important;

		@include max(sm) {
			margin-top: 28px;
			font-size: 20px;
		}
	}

	svg {
		fill: $green-9e;
		width: 35%;
		height: 35%;
		position: relative;
		left: 6px;

		@include max(md) {
			left: 3px;
		}
	}

	.pulse-core {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $white;
		position: relative;
		transition: background-color 0.3s ease;
	}

	.pulse {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $white;
		opacity: 0.3;
		border-radius: 50%;
		pointer-events: none;

		&-1 {
			animation: pulse-1 2s linear infinite;
		}

		&-2 {
			animation: pulse-2 2s linear infinite;
		}
	}

	&--yellow {
		width: 122px;
		height: 122px;

		@include hover {
			.pulse-core {
				background-color: rgba($citrus, 0.9);
			}
		}

		@include max(md) {
			width: 52px;
			height: 52px;
		}

		svg {
			fill: $white;
		}

		.pulse-core,
		.pulse {
			background-color: $citrus;
		}
	}
}
