section.advantages 
	.container 
		header.advantages__header 
			+title('В чем преимущества Hivens?', 'h2', 'advantages__title')
			p.advantages__text
				| Данные о нужном объекте поступают из множесво дата нод и поставщиков данных экосистемы
		.advantages__content
			.advantages__mobile-line
			.advantages__bg
				picture
					source(media="(max-width: 767px)", srcset="images/page-6/advantages/advantages-bg-mobile.svg")
					img(src="images/page-6/advantages/advantages-bg.jpg", srcset="images/page-6/advantages/advantages-bg@2x.jpg 2x", alt="")
			.advantages__main-card
				.advantages__main-card-image
					img(src="images/page-6/advantages/main-card-img.png", srcset="images/page-6/advantages/main-card-img@2x.png 2x", alt="")
					span profile
				.advantages__main-card-content
					a(href="tel:+49409876123543").advantages__link
						.advantages__link-icon 
							+icon('phone')
						| +49409876123543
					a(href="tel:+49409876123543").advantages__link
						.advantages__link-icon 
							+icon('phone')
						| +49409876123543
					a(href="mailto:inge.hummer@cnm.com").advantages__link
						.advantages__link-icon 
							+icon('mail')
						| inge.hummer@cnm.com
					a(href="#").advantages__link
						.advantages__link-icon 
							+icon('home')
						| Horner Weg 66
					a(href="#").advantages__link
						.advantages__link-icon 
							+icon('compass')
						| 20535 Hamburg
					a(href="#").advantages__link
						.advantages__link-icon 
							+icon('globe')
						| Germany
			.advantages__cards
				.advantages__slider
					button.swiper-button-next.advantages__button-next--long-arrow
						+icon('arrow-next-icon')
					.swiper-wrapper
						.advantages__card.advantages__card--facebook.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-1.png", srcset="images/page-6/advantages/card-img-1@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-1.png", srcset="images/page-6/advantages/card-bg-img-1@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title Facebook 
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
						.advantages__card.advantages__card--sap-crm.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-2.png", srcset="images/page-6/advantages/card-img-2@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-2.png", srcset="images/page-6/advantages/card-bg-img-2@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title SAP CRM 
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
						.advantages__card.advantages__card--sap-erp.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-3.png", srcset="images/page-6/advantages/card-img-3@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-1.png", srcset="images/page-6/advantages/card-bg-img-1@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title SAP ERP 
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
									a(href="#").advantages__link
										| Horner Weg 66
									a(href="#").advantages__link
										| Germany
						.advantages__card.advantages__card--gigya.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-4.png", srcset="images/page-6/advantages/card-img-4@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-3.png", srcset="images/page-6/advantages/card-bg-img-3@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title Gigya
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
									a(href="#").advantages__link
										| 20667 Hamburg
									a(href="#").advantages__link
										| Germany
						.advantages__card.advantages__card--sap-s4.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-5.png", srcset="images/page-6/advantages/card-img-5@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-3.png", srcset="images/page-6/advantages/card-bg-img-3@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title SAP S4
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
									a(href="#").advantages__link
										| Industriestr. 388
									a(href="#").advantages__link
										| 20667 Hamburg
									a(href="#").advantages__link
										| Germany
						.advantages__card.advantages__card--sap-c4c.swiper-slide
							.advantages__card-image
								img(src="images/page-6/advantages/card-img-6.png", srcset="images/page-6/advantages/card-img-6@2x.png 2x", alt="")
							.advantages__card-bg
								img(src="images/page-6/advantages/card-bg-img-2.png", srcset="images/page-6/advantages/card-bg-img-2@2x.png 2x", alt="")
							.advantages__card-content
								header.advantages__card-header
									.advantages__card-title SAP C4C
									.advantages__card-subtitle Inge Hummer
								.advantages__card-body 
									a(href="tel:+47409876123583").advantages__link
										| +47409876123583
									a(href="mailto:inge.hummer@cnm.com").advantages__link
										| inge.hummer@cnm.com
									a(href="#").advantages__link
										| Hamburg
									a(href="#").advantages__link
										| Germany
