section.data-sources 
	.container 
		header.data-sources__header 
			+title('Из каких публичных источников также собираются данные?', 'h2', 'data-sources__title')
		.data-sources__content
			.data-sources__image 
				img(src="images/page-6/data-sources-bg.jpg", srcset="images/page-6/data-sources-bg@2x.jpg 2x", alt="")
				.data-sources__image-text 
					| i am collecting information
			.data-sources__description.swiper-container
				button.swiper-button-next.data-sources__button-next--long-arrow
					+icon('arrow-next-icon')
				.swiper-wrapper 
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left
							.data-sources__item-title поисковые системы
							.data-sources__item-info.data-sources__item-info--left Google, Bing, Yahoo, Aall, Yandex
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left
							.data-sources__item-title сервисы вопрос-ответов
							.data-sources__item-info.data-sources__item-info--left answers.com, ask.fm
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left
							.data-sources__item-title сайты отзывы
							.data-sources__item-info.data-sources__item-info--left yelp, menuism, tripadvizor
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left 
							.data-sources__item-title сайты по поиску кандидатов
							.data-sources__item-info.data-sources__item-info--left indeed.com
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left 
							.data-sources__item-title профессиональные сообщества
							.data-sources__item-info.data-sources__item-info--left Github, sourceforge, deviant,  ART, behance
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.swiper-slide
						.data-sources__item-text.data-sources__item-text--left 
							.data-sources__item-title социальные сети
							.data-sources__item-info.data-sources__item-info--left facebook, linkedin, twitter Instagram, google+, tagget foursquare
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--left
							.data-sources__item-line.data-sources__item-line--left
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title рекомендательные сайты
							.data-sources__item-info.data-sources__item-info--right stumbleupon
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title e-commerse платформы
							.data-sources__item-info.data-sources__item-info--right amazon, zazzle, eBay, etsy
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title сервисы закладок
							.data-sources__item-info.data-sources__item-info--right delicious
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title новостные сайты
							.data-sources__item-info.data-sources__item-info--right reddit, topix
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title фотосервис
							.data-sources__item-info.data-sources__item-info--right fotobucket, picturereale, flicer picasso, dailymotion, fotolog
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title блог платформы
							.data-sources__item-info.data-sources__item-info--right blogger, livejournal, about.com, wordpress, tumbler, typePad
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right
					.data-sources__item.data-sources__item--right.swiper-slide
						.data-sources__item-text.data-sources__item-text--right
							.data-sources__item-title media ресурсы
							.data-sources__item-info.data-sources__item-info--right YOUTUBE, vimeo, soundcloud, last.fm, metacafe, weoh, Pandora
						.data-sources__item-line-block 
							.data-sources__item-round.data-sources__item-round--right
							.data-sources__item-line.data-sources__item-line--right


