section.data-types 
	.container 
		header.data-types__header 
			+title('Что можно найти, какие типы данных?', 'h2', 'data-types__title')
		.data-types__slider-container 
			button.swiper-button-prev.data-types__button-prev
				+icon('chevron-left')
			button.swiper-button-next.data-types__button-next
				+icon('chevron-right')
			button.swiper-button-next.data-types__button-next--long-arrow
				+icon('arrow-next-icon')
			.data-types__slider.swiper-container
				.swiper-wrapper 
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-1.png", srcset="images/page-6/data-types/card-1@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Peoples
							.data-types__card-text 25 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-2.png", srcset="images/page-6/data-types/card-2@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Companies
							.data-types__card-text 31 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-3.png", srcset="images/page-6/data-types/card-3@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Websites
							.data-types__card-text 14 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-4.png", srcset="images/page-6/data-types/card-4@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Objects
							.data-types__card-text Depend on type
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-5.png", srcset="images/page-6/data-types/card-5@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Products
							.data-types__card-text 50+ parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-6.png", srcset="images/page-6/data-types/card-6@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Services
							.data-types__card-text 30+ parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-1.png", srcset="images/page-6/data-types/card-1@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Peoples
							.data-types__card-text 25 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-2.png", srcset="images/page-6/data-types/card-2@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Companies
							.data-types__card-text 31 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-3.png", srcset="images/page-6/data-types/card-3@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Websites
							.data-types__card-text 14 parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-4.png", srcset="images/page-6/data-types/card-4@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Objects
							.data-types__card-text Depend on type
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-5.png", srcset="images/page-6/data-types/card-5@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Products
							.data-types__card-text 50+ parameters
					.data-types__card.swiper-slide
						img(src="images/page-6/data-types/card-6.png", srcset="images/page-6/data-types/card-6@2x.png 2x", alt="")
						.data-types__card-content 
							.data-types__card-title Services
							.data-types__card-text 30+ parameters