-let dataAggregationSlides = [{title: 'Geospatial Data', text: 'ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.', goal: '100000', goalTarget: '200000', users: '100', usersTarget: '150', retention: '90', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Commerce Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '130000', goalTarget: '200000', users: '110', usersTarget: '150', retention: '10', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Financial Market Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '110000', goalTarget: '200000', users: '120', usersTarget: '150', retention: '15', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Consumer Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '200000', goalTarget: '200000', users: '150', usersTarget: '150', retention: '20', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'B2B Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '140000', goalTarget: '200000', users: '140', usersTarget: '150', retention: '25', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Identity Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '200000', goalTarget: '200000', users: '150', usersTarget: '150', retention: '30', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Transport and Logistics Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '180000', goalTarget: '200000', users: '80', usersTarget: '150', retention: '35', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Environmental Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '170000', goalTarget: '200000', users: '70', usersTarget: '150', retention: '40', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Credit Rating Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '120000', goalTarget: '200000', users: '80', usersTarget: '150', retention: '45', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Real Estate Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '140000', goalTarget: '200000', users: '90', usersTarget: '150', retention: '50', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Web Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '178000', goalTarget: '200000', users: '20', usersTarget: '150', retention: '55', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Mobile App Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '300000', goalTarget: '200000', users: '120', usersTarget: '150', retention: '60', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Legal Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '400000', goalTarget: '200000', users: '50', usersTarget: '150', retention: '65', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Healthcare Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '190000', goalTarget: '200000', users: '30', usersTarget: '150', retention: '70', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Entertainment Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '132000', goalTarget: '200000', users: '140', usersTarget: '150', retention: '80', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Energy Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '114000', goalTarget: '200000', users: '50', usersTarget: '150', retention: '85', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Industry Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '230000', goalTarget: '200000', users: '60', usersTarget: '150', retention: '20', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Political Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '213000', goalTarget: '200000', users: '70', usersTarget: '150', retention: '25', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Hospitality, Travel & Tourism Data', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '414000', goalTarget: '200000', users: '80', usersTarget: '150', retention: '30', retentionTarget: '100', duration: '1', durationTarget: '2'}, {title: 'Browse all 517 data categories', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque, possimus tempore quam reiciendis nesciunt dolorem blanditiis quasi voluptatem soluta?', goal: '500000', goalTarget: '200000', users: '90', usersTarget: '150', retention: '35', retentionTarget: '100', duration: '1', durationTarget: '2'}];

section.data-aggregation
	.container 
		header.data-aggregation__header 
			+title('Кто поставщики и какие данные аггрегируются в экосистеме?', 'h2', 'data-aggregation__title')
			p.data-aggregation__text Look up results from a wide range of industry-leading data sources and, where
		.data-aggregation__content 
			.data-aggregation__slider-wrapper 
				button.data-aggregation__button-prev
					+icon('chevron-up')
				.data-aggregation__slider.swiper-container
					.swiper-wrapper.accordion
						each slide in dataAggregationSlides
							.data-aggregation__slide.swiper-slide
								.data-aggregation__accordion-item.accordion-item(data-goal= slide.goal, data-goal-target= slide.goalTarget, data-users= slide.users, data-users-target= slide.usersTarget, data-retention= slide.retention, data-retention-target= slide.retentionTarget, data-duration= slide.duration, data-duration-target= slide.durationTarget)
									.accordion-item__header
										span= slide.title
										.accordion-item__arrow
											+icon('chevron-up')
									.accordion-item__body= slide.text
				button.data-aggregation__button-next
					+icon('chevron-down')
			.data-aggregation__avg-sessions.avg-sessions 
				.avg-sessions__top 
					.avg-sessions__data
						.avg-sessions__indicators
							.avg-sessions__count 2.7k
							.avg-sessions__name Avg Sessions
							.avg-sessions__text
								span.avg-sessions__percents +5.2%
								| VS 
								span.avg-sessions__term last 7 days
						+button('View Details', 'avg-sessions__btn button--dark-green', '', '#')
					.avg-sessions__graph 
						.avg-sessions__term--absolute Last 7 Days
						.avg-sessions__graph-item
						.avg-sessions__graph-item
						.avg-sessions__graph-item.avg-sessions__graph-item--green
						.avg-sessions__graph-item
						.avg-sessions__graph-item
						.avg-sessions__graph-item
						.avg-sessions__graph-item
				.avg-sessions__bottom 
					.avg-sessions__scale.scale#goal
						.scale__title Goal: 
							span $100000
						.scale__progress.scale__progress--goal
							.scale__progress-fill
					.avg-sessions__scale.scale#users
						.scale__title Users: 
							span 100K
						.scale__progress.scale__progress--users
							.scale__progress-fill
					.avg-sessions__scale.scale#retention
						.scale__title Retention: 
							span 90%
						.scale__progress.scale__progress--retention
							.scale__progress-fill
					.avg-sessions__scale.scale#duration
						.scale__title Duration: 
							span 1yr
						.scale__progress.scale__progress--duration
							.scale__progress-fill
					
					
					
					


