section.fields 
	.container 
		header.fields__header 
			+title('Какие поля обрабатываются для 6 типов данных?', 'h2', 'fields__title')
		.fields__content 
			.fields__categories
				.swiper-wrapper
					.fields__filter.swiper-slide.active(data-target="peopleProfile")
						.fields__filter-inner 
							.fields__filter-icon
								+icon('person')
							.fields__filter-text
								span People Profile
					.fields__filter.swiper-slide(data-target="siteDomain") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('globe')
							.fields__filter-text
								span Site Domain Info
					.fields__filter.swiper-slide(data-target="goods") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('goods')
							.fields__filter-text
								span Goods
					.fields__filter.swiper-slide(data-target="companyProfile") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('company')
							.fields__filter-text
								span Company Profile
					.fields__filter.swiper-slide(data-target="addresses") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('mark')
							.fields__filter-text
								span Addresses
					.fields__filter.swiper-slide(data-target="services") 
						.fields__filter-inner 
							.fields__filter-icon
								+icon('services-hand')
							.fields__filter-text
								span Services
			.fields__slider.swiper-container
				.fields__button-prev.swiper-button-prev
					+icon('chevron-left')
				.swiper-wrapper 
					.fields__slide.swiper-slide(data-category="peopleProfile")
						.fields__slide-inner 
							.fields__slide-title People Profile
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item 
									| email
								.fields__slide-item 
									| email
								.fields__slide-item 
									| телефон
								.fields__slide-item 
									| телефон
								.fields__slide-item 
									| профили в соц сетях
								.fields__slide-item 
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="peopleProfile")
						.fields__slide-inner
							.fields__slide-title People Profile
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="siteDomain")
						.fields__slide-inner
							.fields__slide-title Site Domain Info
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="siteDomain")
						.fields__slide-inner
							.fields__slide-title Site Domain Info
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="goods")
						.fields__slide-inner
							.fields__slide-title Goods
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="companyProfile")
						.fields__slide-inner
							.fields__slide-title Company Profile
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="companyProfile")
						.fields__slide-inner
							.fields__slide-title Company Profile
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="addresses")
						.fields__slide-inner
							.fields__slide-title Addresses
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="addresses")
						.fields__slide-inner
							.fields__slide-title Addresses
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
					.fields__slide.swiper-slide(data-category="services")
						.fields__slide-inner
							.fields__slide-title Services
							.fields__slide-image
								img(src="images/page-6/fields/slide-img-1.png", srcset="images/page-6/fields/slide-img-1@2x.png 2x", alt="")
							.fields__slide-list
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							.fields__slide-list.fields__slide-list--hidden
								.fields__slide-item
									| email
								.fields__slide-item
									| email
								.fields__slide-item
									| телефон
								.fields__slide-item
									| телефон
								.fields__slide-item
									| профили в соц сетях
								.fields__slide-item
									| профили в соц сетях
							a(href="#").fields__slide-show
								+icon('chevron-down')
								span показать
				.fields__slider-pagination.swiper-pagination
					.swiper-pagination-bullet.swiper-pagination-bullet-active
					.swiper-pagination-bullet
				.fields__button-next.swiper-button-next
					+icon('chevron-right')