section.market-size
	.container.market-size__container
		header.market-size__header 
			+title('Market size 2021', 'h2', 'market-size__title')
		.market-size__content
			.market-size__indicators 
				.market-size__indicator.market-size__indicator--green
					.market-size__indicator-icon
						+icon('indicator-icon')
					.market-size__indicator-content
						.market-size__indicator-title tam
						.market-size__indicator-value 21 227 095
						.market-size__indicator-desc Общий объем рынка
				.market-size__indicator.market-size__indicator--citrus
					.market-size__indicator-icon
						+icon('indicator-icon')
					.market-size__indicator-content
						.market-size__indicator-title som
						.market-size__indicator-value 4 134 540
						.market-size__indicator-desc Потенциальные клиенты
				.market-size__indicator.market-size__indicator--citrus
					.market-size__indicator-icon
						+icon('indicator-icon')
					.market-size__indicator-content
						.market-size__indicator-title sam
						.market-size__indicator-value 413 454
						.market-size__indicator-desc Наш рынок в 1%
			.market-size__map
				.market-size__map-container
					img(src="images/page-6/market-size-map.jpg", srcset="images/page-6/market-size-map@2x.jpg 2x", alt="")
					.market-size__map-label.market-size__map-label--canada.market-size__map-label--arrow-down
						.market-size__map-icon
							+icon('heart-outline')
						.market-size__map-country Canada
					.market-size__map-label.market-size__map-label--usa.market-size__map-label--arrow-down
						.market-size__map-icon
							+icon('heart-outline')
						.market-size__map-country USA
					.market-size__map-label.market-size__map-label--europe.market-size__map-label--arrow-down
						.market-size__map-icon
							+icon('heart-outline')
						.market-size__map-country Europe & CIS
					.market-size__map-label.market-size__map-label--australia.market-size__map-label--arrow-down
						.market-size__map-icon
							+icon('heart-outline')
						.market-size__map-country Australia
					.market-size__map-label.market-size__map-label--new-zealand.market-size__map-label--arrow-right
						.market-size__map-icon
							+icon('heart-outline')
						.market-size__map-country New Zealend

			