section.unique-data 
	.container.unique-data__container
		header.unique-data__header
			+title('Сколько уже уникализированных данных в экосистеме?', 'h2', 'unique-data__title')
		.unique-data__body
			.unique-data__flex 
				.unique-data__image
					img(src="images/page-6/unique-data-image.jpg", srcset="images/page-6/unique-data-image@2x.jpg 2x", alt="")
					.unique-data__image-text 
						| Hivens
						b Storage
				.unique-data__content
					.unique-data__text
						| Look up results from a wide range of industry-leading data sources and, where available, combine all the data into an easy-to-understand report in seconds
					ul.unique-data__list
						li.unique-data__list-item 130 Million 
							span Property Records
						li.unique-data__list-item 6 Billion 
							span Products and Servies Records
						li.unique-data__list-item 3.9 Billion 
							span Websites Records
						li.unique-data__list-item 600 Million 
							span People Records
						li.unique-data__list-item 89 Million 
							span Business Records
						li.unique-data__list-item 120+ Additional 
							span Public Sources