section.briefly-list
  .briefly-list__container.container 
    .briefly-list__item.briefly.briefly--reverse
      +title('What is ico crypto', 'h2', 'briefly__title')

      .briefly__image
        picture
          source(media="(max-width: 767px)", srcset="images/briefly/what-is-ico-crypto-mobile.jpg 1x, images/briefly/what-is-ico-crypto-mobile@2x.jpg 2x")
          img(src="images/briefly/what-is-ico-crypto.jpg", srcset="images/briefly/what-is-ico-crypto@2x.jpg 2x", alt="")

        .briefly__image-text.briefly__image-text--crypto-buy Buy
        .briefly__image-text.briefly__image-text--crypto-sell Sell tokens more expensive
        .briefly__image-text.briefly__image-text--crypto-nodes nodes
        .briefly__image-text.briefly__image-text--crypto-node NODE 1
        .briefly__image-text.briefly__image-text--crypto-use Use ecosystem!
        .briefly__image-text.briefly__image-text--crypto-invest I invest in
        .briefly__image-text.briefly__image-text--crypto-tokens Buy tokens

      .briefly__content
        .briefly__text <b>ICO Crypto is a platform for the future of funding that powering dat for the new equity blockchain</b>
        
        .briefly__text While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, & easy-to-use product based on private blockchain. It will include easy cryptocurrency payments integration, and even a digital arbitration system.

        .briefly__text At the end, Our aims to integrate all companies, employees, and business assets into a unified blockchain ecosystem, which will make business truly efficient, transparent, and reliable.