- const DOCUMENTS_ITEMS = [{img: 'whitepaper', text: 'Whitepaper'}, {img: 'terms-of-sale', text: 'Terns of Sale'}, {img: 'privacy-policy', text: 'Privacy Policy'}, {img: 'one-pager', text: 'One Pager'} ];

section.documents
  .documents__container.container 
    .documents__main
      +title('Read Our Documents', 'h2', 'documents__title')
      .documents__subtitle Download documents
      .documents__text Here is our full documents that help you to understand about us. And lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .documents__list.swiper-container.__js_documents-carousel
      .swiper-wrapper 
        each item in DOCUMENTS_ITEMS
          .documents__item.document-card.swiper-slide
            .document-card__image 
              img(src="images/page-5/" + item.img + ".jpg", srcset="images/page-5/" + item.img + "@2x.jpg 2x", width="139", height="198", alt="")
              .document-card__image-text= item.text 
            .document-card__main 
              .document-card__title= item.text 
              +button('Rus', 'document-card__btn button--big1 button--outline-green', '', '#')(download)
              +button('Eng', 'document-card__btn button--big1 button--outline-green', '', '#')(download)
      .swiper-navigation
        button.swiper-button-prev(type="button")
          +icon('long-right-arrow')(width="143", height="9")
        button.swiper-button-next(type="button")
          +icon('long-right-arrow')(width="143", height="9")
