section.thero
  .thero__container.container
    h1.thero__title Algorithmic & Blockchain Solutions for Crypto-Trading and Protect your Investments

    .thero__offer
      .thero__offer-title Pre-Sale Ends In
      .thero__offer-timer.timer.__js_timer(data-end-date="2021-09-30T19:00:00", data-expired-text="Expired text")
        each it in ['Days', 'Hours', 'Min', 'Sec']
          .timer__column(class="timer__column--" + it.toLowerCase())
            .timer__figure 
              span
            .timer__caption= it
      .thero__offer-row 
        .thero__offer-column
          .thero__offer-heading Token price:
          .thero__offer-text.thero__offer-text--large 1 HIV=$0.01
        .thero__offer-column.thero__offer-column--right
          .thero__offer-heading We accept:
          .thero__offer-text.thero__offer-text--large ETH
      .thero__offer-row 
        .thero__offer-column
          .thero__offer-heading Tokens availablen on pre-sale:
        .thero__offer-column.thero__offer-column--right
          .thero__offer-text 457,000,000 HIV
      
      .thero__offer-bottom 
        +button('Buy token now', 'thero__offer-btn button--dark-green', '', '#')
        .thero__offer-heading Minimum purchase: <span>150,000 HIV</span>
    

    .thero__content 
      .thero__text Full transparency. More trust, Minimize risk, maximize rewards.

      .thero__buttons 
        a.thero__btn(href="#") Wite paper
        a.thero__btn(href="#") One pages

      .thero__social 
        .thero__social-title Join your community
        +social('social--white social--large', [
          {name: 'tw', class: 'tw'},
          {name: 'fb', class: 'fb'},
          {name: 'in', class: 'in'},
          {name: 'git', class: 'git'},
          {name: 'google', class: 'google'},
          {name: 'insta', class: 'insta'},
          {name: 'star', class: 'star'},
          {name: 'heart', class: 'heart'}
        ])

  include rating-section

