- const TIMELINE_ITEMS = [{count: '2017 Q1', title: 'Concept', list: ['Concept', 'Generation Team&nbsp;Assemble']}, {count: '2017 Q2', title: 'Research', list: ['Proving the concept can work', 'Strategic Plan', 'White paper conpletion']}, {count: '2018 Q1', title: 'Design', list: ['Platform design and technical demonstration', 'Building the MVP']}, {count: '2018 Q2', title: 'Pre-Sale', list: ['Public financing & Seed funding raised']}, {count: '2018 Q3', title: 'App Beta Test', list: ['Private closed beta', 'Open beta launched to public and improvement the app']}, {count: '2018 Q4', title: 'Token Sale', list: ['ICO Press Tour', 'Open global sales of ICOblock token']}, {count: '2019 Q1', title: 'Alpha Test', list: ['In-house testing of&nbsp;functional', 'Prototype published and linked to Ethereum blockchain with real-time scanning']}, {count: '2019 Q2', title: 'Crowdfunding Integration', list: ['Smart contracts support creators', 'Ethereum tokens support']}, {count: '2019 Q3', title: 'Community Benefits', list: ['Establishing global user base', 'US start retailer selection']}, {count: '2019 Q4', title: 'Hardware things', list: ['Integration of third party controllers', 'Marketplace cooperative module']}, {count: '2020 Q1', title: 'More Operational', list: ['Integration with Private Chains, More Coin in Wallet', 'New services offered by members or business']}];

section.timeline
  .timeline__container.container
    header.timeline__header 
      +title('TimeLine', 'h2', 'timeline__title')
      .timeline__text Our team working hardly to make archive lorem ipsum dolor sit amet, consectetur amet, consectetur adipiscing elit.
    //-each item in TIMELINE_ITEMS
      p= '.timeline__item--' + item.count.replace(' ', '-')

    .timeline__scene.swiper-container.__js_timeline-carousel(data-fill-start="152", data-fill-end="3226")
      //-.timeline__scene-out для разработки секции timeline
        div 0
        button.timeline__scene-btn.top(type="button") top
        button.timeline__scene-btn.bottom(type="button") bottom
      .timeline__line
        img(src="images/page-5/timeline.svg", width="1241", height="768", alt="")
        .timeline__svg 
          include _timeline-svg

      .swiper-wrapper
        each item in TIMELINE_ITEMS
          - const mod = item.count.replace(' ', '-');
          .timeline__item(class="timeline__item--" + mod + " swiper-slide")
            .timeline__item-q= item.count
            .timeline__item-content 
              h3.timeline__item-title= item.title
              ul
                each it in item.list
                  li!= '-' + it
      
      .swiper-navigation
        button.swiper-button-prev(type="button")
          +icon('long-right-arrow')(width="143", height="9")
        button.swiper-button-next(type="button")
          +icon('long-right-arrow')(width="143", height="9")

        
        