section.briefly-list.briefly-list--sm-padding
  .briefly-list__container.container     
    .briefly-list__item.briefly
      +title('Кто такие поставщики данных в Hivens?', 'h2', 'briefly__title')

      .briefly__image 
        picture
          source(media="(max-width: 767px)", srcset="images/briefly/data-providers-mobile.jpg 1x, images/briefly/data-providers-mobile@2x.jpg 2x")
          img(src="images/briefly/data-providers.jpg", srcset="images/briefly/data-providers@2x.jpg 2x", alt="")

        .briefly__image-text.briefly__image-text--provider Provider 1

      .briefly__content
        .briefly__text 
          | <strong>Провайдеры данных</strong> - это распределенная сеть обладателей информации, данных в каком-либо сегменте. Чтобы стать провадйером, необходимо на своих ресурсах развернуть ноду (узел) и интегрироваться с источником  информации...


        +button('Подробнее', 'briefly__btn button--big button--dark-green', '', '#')
  
    .briefly-list__item.briefly.briefly--reverse
      +title('Кто такие покупатели маркетплейса?', 'h2', 'briefly__title')

      .briefly__image
        picture
          source(media="(max-width: 767px)", srcset="images/briefly/marketplace-buyers-mobile.jpg 1x, images/briefly/marketplace-buyers-mobile@2x.jpg 2x")
          img(src="images/briefly/marketplace-buyers.jpg", srcset="images/briefly/marketplace-buyers@2x.jpg 2x", alt="")

        .briefly__image-text.briefly__image-text--marketing Marketing
        .briefly__image-text.briefly__image-text--sales Sales
        .briefly__image-text.briefly__image-text--managers Managers
        .briefly__image-text.briefly__image-text--hr HR

      .briefly__content
        .briefly__text 
          | <strong>Покупатели</strong> - представители компаний, руководители, маркетологи, продавцы, менеджеры, рекрутеры, а также обычные пользоваели сайтов, которые хотят получить данные, которые доступны для продажи в маркетплейсе. Данные также могут быть бесплатными, если провайдер установил стоимость “Free”.

        +button('Подробнее', 'briefly__btn button--big button--dark-green', '', '#')