-let SLIDES = [{title: 'Этаж 8 - Биржа и торговля', text: 'Децентрализованная криптобиржа для покупки, продажи, обеспечения экосисетмы токенами.', class: 'eighth-floor'}, {title: 'Этаж 7 - Финансы', text: 'Управление платежной системой, кошельком, оплатами, аналитикой.', class: 'seventh-floor'}, {title: 'Этаж 6 - Разработка и защита', text: 'Отдел проектирования,  разработки и информационной безопасности экосистемы.', class: 'sixth-floor'}, {title: 'Этаж 5 - Data compliance', text: 'Управлеяем, проверяем данные, выставляемые на продажу на соответствие закону.', class: 'fifth-floor'}, {title: 'Этаж 4 - Сбор данных', text: 'Разрабатываем скрипты (пчел) сбора и синхронизации данных из различных источников.', class: 'fourth-floor'}, {title: 'Этаж 3 - Разработка нод', text: 'Разрабатываем, обновляем ноды (ульи), систематизируем функционал в модули.', class: 'third-floor'}, {title: 'Этаж 2 - Передача данными', text: 'Разрабатываем протоколы (пчел) передачи и обмена данными.', class: 'second-floor'}, {title: 'Этаж 1 - Маркет', text: 'Витрина данных, которые можно купить. Пользуйтесь поиском, чтобы найти нужны данные!', class: 'first-floor'}];

section.how-platform-works 
	.container
		header.how-platform-works__header
			+title('Как функционирует Marketplace платформа?', 'h2', 'how-platform-works__title')
			p.how-platform-works__text
				| Платформа представляет многофункциональную и многоуровневую систему 8 этажей:
				br
				| Маркет для покупки и продажи доступа к данным; Разработка протоколов обмена информацией; Конструктор модулей для создания сервисов; Управление майнингом данных; Центр проверки данных на соответсвие GDPR, CCPA; Разработка и обновление экосистемы; Биржа покупки, обмена токенов HIV; Хеширование и обезличивание данных для маркета и др.
		.how-platform-works__schema
			.how-platform-works__schema-image
				img(src="images/page-3/how-platform-works.jpg", srcset="images/page-3/how-platform-works@2x.jpg 2x", alt="Схема")
				.how-platform-works__schema-zoom
				.how-platform-works__schema-text.how-platform-works__schema-text--search
					| Search
				.how-platform-works__schema-text.how-platform-works__schema-text--marketplace 
					| Hivens
					span Marketplace
			.how-platform-works__zoom
				img(src="images/page-3/how-platform-works/eighth-floor.png", srcset="images/page-3/how-platform-works/eighth-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--eighth-floor
				img(src="images/page-3/how-platform-works/seventh-floor.png", srcset="images/page-3/how-platform-works/seventh-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--seventh-floor
				img(src="images/page-3/how-platform-works/sixth-floor.png", srcset="images/page-3/how-platform-works/sixth-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--sixth-floor
				img(src="images/page-3/how-platform-works/fifth-floor.png", srcset="images/page-3/how-platform-works/fifth-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--fifth-floor.active
				img(src="images/page-3/how-platform-works/fourth-floor.png", srcset="images/page-3/how-platform-works/fourth-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--fourth-floor
				img(src="images/page-3/how-platform-works/third-floor.png", srcset="images/page-3/how-platform-works/third-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--third-floor
				img(src="images/page-3/how-platform-works/second-floor.png", srcset="images/page-3/how-platform-works/second-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--second-floor
				img(src="images/page-3/how-platform-works/first-floor.png", srcset="images/page-3/how-platform-works/first-floor@2x.png 2x", alt="").how-platform-works__zoom-image.how-platform-works__zoom-image--first-floor
			.how-platform-works__content.swiper-container 
				.swiper-wrapper 
					each item in SLIDES
						.how-platform-works__item.swiper-slide(class= 'how-platform-works__item--' + item.class)
							h4.how-platform-works__item-title= item.title
							p.how-platform-works__item-text= item.text
				.swiper-button-next.how-platform-works__button
					+icon('arrow-next-icon')