section.platform 
	.container.platform__container
		+innerpage-title('Что такое Marketplace платформа Hivens?', 'Присоединяйтесь к Hivens и монетизируйте ваши данные', 'platform__title')
		.platform__image
			img(src="images/page-3/platform.jpg", srcset="images/page-3/platform@2x.jpg 2x", width="1240", height="725", alt="Marketplace платформа Hivens")
			.platform__text.platform__text--signboard
				| Hivens
				b Marketplace