mixin swiper-nav()
  .swiper-navigation
    button.swiper-button-prev(type="button")
      +icon('long-right-arrow')(width="143", height="9")
    button.swiper-button-next(type="button")
      +icon('long-right-arrow')(width="143", height="9")