extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/records.pug
	include ../blocks/applying.pug
	include ../blocks/what-is.pug
	include ../blocks/blog.pug
