extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/page-3/platform
	include ../blocks/page-3/briefly-list
	include ../blocks/page-3/data-purchase
	include ../blocks/page-3/how-platform-works