extends ../layouts/default

block vars
  -
    const page = {
      title: 'Page 4'
    };

block main
  include ../blocks/page-4/hero-section
  include ../blocks/page-4/about-nodes
  include ../blocks/page-4/briefly-list
  include ../blocks/page-4/node-types
  include ../blocks/page-4/how-to-get

