extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/page-6/search
	include ../blocks/page-6/data-types
	include ../blocks/page-6/advantages
	include ../blocks/page-6/unique-data
	include ../blocks/page-6/data-sources
	include ../blocks/page-6/fields
	include ../blocks/page-6/data-aggregation
	include ../blocks/page-6/market-size
	include ../blocks/page-6/cases
	include ../blocks/page-6/buisness-cases