extends ../layouts/default

block vars
  -
    const page = {
      title: 'Page 5'
    };

block main
  include ../blocks/page-5/thero
  include ../blocks/page-5/briefly-list
  include ../blocks/page-5/why-crypto
  include ../blocks/page-5/crypto-solution
  include ../blocks/page-5/token-sale
  include ../blocks/page-5/crypto-line
  include ../blocks/page-5/timeline
  include ../blocks/page-5/e-team
  include ../blocks/page-5/advisors
  include ../blocks/page-5/payments-map
  include ../blocks/page-5/documents
  include ../blocks/page-5/partners
  include ../blocks/page-5/faqs
  include ../blocks/page-5/contact-section


