extends ../layouts/default

block vars
  -
    const page = {
      title: 'Page 2'
    };

block main
  include ../blocks/page-2/ecosystem
  include ../blocks/page-2/video-block
  include ../blocks/page-2/briefly-list
  include ../blocks/page-2/how-it-works
  include ../blocks/page-2/platform-preview
  include ../blocks/page-2/services-section


