.how-platform-works {
	overflow: hidden;
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include max(sm) {
			align-items: flex-start;
			text-align: left;
		}
	}

	&__text {
		max-width: 920px;
		font-size: 14px;
		line-height: 21px;
		margin-top: 18px;
		color: $dark-gray-6e;
	}

	&__schema {
		margin-top: 44px;
		position: relative;

		&-zoom {
			position: absolute;
			left: 50%;
			top: 20.1%;
			transform: translateX(-50%);
			width: 34.1%;
			height: 11.5%;
			border: 3px solid #ffcc33;
			border-radius: 2px;
			z-index: 10;
			transition: 0.2s linear;

			@include min(1000) {
				display: none;
			}
		}

		&-image {
			position: relative;
		}

		&-text {
			position: absolute;

			&--search {
				top: 84.7%;
				left: 47%;
				font-weight: bold;
				font-size: 10px;
				line-height: 10px;

				@include max(1270) {
					font-size: vw(10, 1270);
				}

				@include max(sm) {
					top: 84.2%;
				}
			}

			&--marketplace {
				left: 65.3%;
				top: 75.8%;
				display: flex;
				flex-direction: column;
				align-items: center;
				color: #fff;
				font-size: 17px;
				line-height: 1.2;

				@include max(1270) {
					font-size: vw(17, 1270);
				}

				@include max(sm) {
					font-size: vw(15, 1270);
				}

				span {
					font-weight: bold;
				}
			}
		}
	}

	&__zoom {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;

		@include max(1000) {
			position: static;
			height: 33.1vw;
			position: relative;
		}

		&-image {
			width: 37.177%;
			position: absolute;
			left: 32.177%;
			z-index: 3;
			opacity: 0;
			transition: 0.6s;
			pointer-events: none;

			@include max(1000) {
				top: 0 !important;
				left: 50% !important;
				transform: translateX(-50%);
				width: 70%;
			}

			@include max(sm) {
				width: 80%;
			}

			@include max(450) {
				width: 100%;
			}

			&.active {
				opacity: 1;
			}

			&--eighth-floor {
				top: 18%;
			}

			&--seventh-floor {
				top: 24.8%;
			}

			&--sixth-floor {
				top: 30.9%;
			}

			&--fifth-floor {
				top: 42.8%;
			}

			&--fourth-floor {
				top: 46.1%;
			}

			&--third-floor {
				top: 56%;
			}

			&--second-floor {
				top: 64.2%;
			}

			&--first-floor {
				top: 67.3%;
				left: 14%;
				width: 76.935%;

				@include max(1000) {
					width: 100%;
					margin-top: 10px;
				}
			}
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: visible;

		@include max(1000) {
			position: relative;
			margin-top: 20px;
		}

		@include max(450) {
			margin-top: 40px;
		}

		.swiper-slide {
			@include max(1000) {
				width: 30%;
			}

			@include max(sm) {
				width: 40%;
			}

			@include max(567) {
				width: 50%;
			}

			@include max(450) {
				width: 70%;
			}

			&:last-child {
				width: 100%;
			}
		}

		.swiper-slide:not(.swiper-slide-active) {
			@include max(1000) {
				color: #b9b9c3;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		line-height: 18px;
		color: $dark-gray-6e;
		padding-bottom: 10px;
		cursor: pointer;
		z-index: 8;

		@include min(1000) {
			position: absolute;
		}

		p {
			@include max(1000) {
				max-width: 211px !important;
			}
		}

		&--eighth-floor,
		&--seventh-floor,
		&--fifth-floor,
		&--third-floor {
			@include min(1000) {
				align-items: flex-start;
				text-align: left;
				left: 8.548%;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					height: 1px;
					width: 100%;
					background-color: #a8a8a8;
				}
			}
		}

		&--sixth-floor,
		&--fourth-floor,
		&--second-floor,
		&--first-floor {
			@include min(1000) {
				align-items: flex-end;
				text-align: right;
				right: 0;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					height: 1px;
					width: 100%;
					background-color: #a8a8a8;
				}
			}
		}

		&--eighth-floor {
			@include min(1000) {
				width: 37.258%;
				height: 83px;
				top: 18.345%;

				@include max(1270) {
					top: 17%;
				}
			}

			p {
				max-width: 229px;
			}
		}

		&--seventh-floor {
			@include min(1000) {
				width: 33.95%;
				height: 83px;
				top: 29.811%;

				@include max(1270) {
					top: 28%;
				}
			}

			p {
				max-width: 170px;
			}
		}

		&--sixth-floor {
			@include min(1000) {
				width: 40.161%;
				height: 83px;
				top: 34.197%;

				@include max(1270) {
					top: 33%;
				}
			}

			p {
				max-width: 211px;
			}
		}

		&--fifth-floor {
			@include min(1000) {
				width: 33.83%;
				height: 83px;
				top: 41.376%;

				@include max(1270) {
					top: 40%;
				}
			}

			p {
				max-width: 211px;
			}
		}

		&--fourth-floor {
			@include min(1000) {
				width: 40.121%;
				height: 83px;
				top: 49.651%;

				@include max(1270) {
					top: 47.5%;
				}
			}

			p {
				max-width: 211px;
			}
		}

		&--third-floor {
			@include min(1000) {
				width: 33.669%;
				height: 83px;
				top: 60.319%;

				@include max(1270) {
					top: 59%;
				}
			}

			p {
				max-width: 211px;
			}
		}

		&--second-floor {
			@include min(1000) {
				width: 39.677%;
				height: 83px;
				top: 69.09%;

				@include max(1270) {
					top: 68%;
				}

				&::after {
					left: 0;
					right: auto;
					width: 8.7398%;
				}

				&::before {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					background-color: #a8a8a8;
					width: 60.569%;
					height: 1px;
				}
			}

			p {
				max-width: 190px;
			}
		}

		&--first-floor {
			@include min(1000) {
				width: 24.59677%;
				height: 83px;
				top: 81.3%;

				@include max(1270) {
					top: 80%;
				}
			}

			p {
				max-width: 211px;
			}
		}
	}

	&__button {
		cursor: pointer;
		display: inline-block;

		svg {
			fill: #979797;
			width: 142px;
			height: 19px;
		}
	}
}
