section.ecosystem
  .ecosystem__container.container
    +innerpage-title('Что такое экосистема Hivens?', 'Присоединяйтесь к Hivens и получите доступ ко всем возможностям', 'ecosystem__title')
    .ecosystem__image 
      img(src="images/page-2/ecosystem.jpg", srcset="images/page-2/ecosystem@2x.jpg 2x", width="1204", height="668", alt="Экосистема Hivens")
      .ecosystem__text.ecosystem__text--signboard
        | Hivens
        b Marketplace

      .ecosystem__text.ecosystem__text--bottom-left provider
      .ecosystem__text.ecosystem__text--bottom-right buyer
      .ecosystem__text.ecosystem__text--bottom-list 
        span.ecosystem__span.ecosystem__span--one 5800 нод
        span.ecosystem__span.ecosystem__span--two 780 поставщиков данных
        span.ecosystem__span.ecosystem__span--three 23 сферы
        span.ecosystem__span.ecosystem__span--four 6 типов данных