section.video-block 
  .video-block__container.container
    .video-block__main
      .video-block__title.custom-title.custom-title--ta-left
        span.custom-title__meet Meet
        span.custom-title__bee the
        span.custom-title__characters characters
        span.custom-title__from from
        span the
        span.custom-title__hivens Hivens
        span.custom-title__glossary glossary
    .video-block__aside
      img(src="images/page-2/beekeeper.png", srcset="images/page-2/beekeeper@2x.png 2x", width="469", height="474", alt="")
    +play('http://www.youtube.com/embed/DkaUsBwe0fo', 'play--yellow video-block__btn', 'Play!')
    //-.video-block__btn
      img(src="images/page-2/placeholder-btn.png", alt="")