.business-cases {
	padding-top: 70px;
	padding-bottom: 70px;

	@include max(sm) {
		overflow: hidden;
	}

	&__header {
		display: flex;
		justify-content: center;
	}

	&__filters {
		max-width: 1084px;
		margin: 40px auto 0;

		@include max(sm) {
			overflow: visible;
		}
	}

	&__filter {
		width: auto;

		&:not(:last-child) {
			margin-right: 27px;
		}
	}

	&__carousel {
		margin-top: 38px;
		transition: opacity 0.4s linear;

		&.opacity {
			opacity: 0;
		}

		.swiper-navigation {
			position: absolute;
			width: 100%;
			top: 40%;
			display: flex;
			justify-content: space-between;
			z-index: 10;

			.swiper-button {
				&-next,
				&-prev {
					position: relative;
					z-index: 10;
					cursor: pointer;

					@include max(md) {
						display: none;
					}
				}
			}
		}

		.swiper-pagination {
			display: flex;
			justify-content: center;
			margin-top: 43px;

			&-bullet {
				display: inline-block;
				width: 15.03px;
				height: 4.71px;
				background: $green-9e;
				opacity: 0.3;
				border-radius: 5px;

				&:not(:last-child) {
					margin-right: 4px;
				}

				&-active {
					opacity: 1;
				}
			}
		}
	}

	&__bg {
		padding-bottom: 70px;
		background-image: url("../images/page-6/business-cases/business-cases-bg.svg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
		max-width: 1084px;
		margin: 25px auto 0;

		@include max(sm) {
			background-image: url("../images/page-6/business-cases/business-cases-bg-mobile.svg");
		}
	}

	&__card {
		display: block;

		&-inner {
			display: flex;
			justify-content: space-between;
			max-width: 1084px;
			margin: 0 auto;

			@include max(sm) {
				flex-direction: column;
			}
		}

		&-content {
			@include max(sm) {
				margin-top: 35px;
			}
		}

		&-list {
			&-item {
				display: flex;
				height: auto;

				&:first-child {
					margin-top: 3px;
				}

				&:not(:first-child) {
					margin-top: 58px;

					@include max(md) {
						margin-top: 4vw;
					}

					@include max(sm) {
						margin-top: 48px;
					}
				}
			}

			&-icon {
				width: 97px;
				height: 75px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: url("../images/page-6/business-cases/slide-list-icon.svg");
				background-repeat: no-repeat;
				background-size: contain;
				flex-shrink: 0;
				margin-right: 13px;

				svg {
					width: 25px;
					height: 25px;
					margin-left: 1px;
					fill: #fff;
				}
			}

			&-text {
				max-width: 360px;
				font-weight: normal;
				font-size: 12px;
				line-height: 1.2;
				color: $dark-gray-6e;
			}
		}

		&-image {
			position: relative;

			img {
				width: 100%;
			}

			&-text {
				position: absolute;
				left: 21.3%;
				top: 5.2%;
				font-weight: bold;
				font-size: 17px;
				line-height: 1.7;
				color: $dark-gray;

				@include max(md) {
					font-size: vw(24, 1270);
				}
				@include max(sm) {
					font-size: vw(36, 1270);
				}
			}
		}
	}
}
