/* media */
$media-list: (
  "xxs": 374,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$mainFont: "Montserrat", sans-serif;

/* цвета */
$mainColor: #000;
$black: #000;
$white: #fff;
$white-eb: #ebe9f1;
$smoky: #f7f8fa;
$gray-9e: #9e9e9e;
$gray-f5: #f5f5f5;
$gray-f1: #ebe9f1;
$gray-f4: #ebeef4;
$gray-d5: #d5d2d2;
$gray-ba: #babfc7;
$gray-c7: #babfc7;
$gray-eb: #ebeef4;
$gray-97: #979797;
$gray-a8: #a8a8a8;
$gray-ef: #efefef;
$gray-5e: #5e5873;
$gray-b9: #b9b9c3;
$gray-d8: #d8d6de;
$gray-ph: #b9b9c3;
$gray-5e: #5e5873;
$gray-6e: #6e6b7b;
$purple: #7367f0;
$purple-active: #5e50ee;
$gray: #82868b;
$green: #28c76f;
$green-9e: #00a79e;
$green-9e-lite: #7fd3ce;
$red: #ea5455;
$orange: #ff9f43;
$light-blue: #00cfe8;
$dark-gray: #4b4b4b;
$dark-gray-6e: #6e6b7b;
$citrus: #ffcc33;
$citrus-lite: #ffe599;
$dark: #005460;

$orange2: #e44d1d;
$citrus2: #ffad33;
$blue: #1884b2;
$pink: #ed7ce2;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
